body {
    position: relative;
}
.sign-in-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: pink;
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 10px 0;
    transition: transform 0.2s ease-in-out;
    transform: translate3d(0, 100%, 0);
}
.sign-in-container.active {
    transform: translate3d(0, 0, 0);
}
#sign-in-with-apple-button {
    flex: 1 0 auto;
    align-self: center;
    background-color: black;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid black;
    max-width: 80vw;
    height: 60px;
    max-width: 280px;
}